<h1>dsds</h1>


<div class="col-sm-6 col-lg-4"> 
<div class="card">
  <a href="/home/{{course.slug}}">
    <img class="card-img-top" src="{{course.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{course.name}}</h5>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    </a>
  </div>
  </div> 
