<form method="post">
    <label for="search-input">Nhập cái gì đó</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khoá">
    <button class="btn btn-primary" type="submit">Submit</button>
</form>